html, body, 
.container {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	overflow-y: scroll;
	background: #333;
}

.splitlayout {
	position: relative;
	overflow-x: hidden;
	min-height: 100%;
	width: 100%;
	background-color: #ecf0f1;

	background: url('../img/hero-bg3.jpg') no-repeat center center;
	background-size: cover;
	padding: 65px 0 300px 0;
	height: 100%;
}

/* Intro sides */
.side {
	position: fixed;
	top: 0;
	z-index: 100;
	width: 50%;
	height: 100%;
	text-align: center;
	-webkit-backface-visibility: hidden;
}

.open-left .side,
.open-right .side {
	cursor: default;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 499;
	visibility: hidden;
	width: 100%;
	height: 100%;
	opacity: 0;
}

.side-left .overlay {
	background: rgba(0,0,0,0.7);
}

.side-right .overlay {
	background: rgba(0,0,0,0.3);
}

.side-left {
	left: 0;
	/* background: rgba(53, 53, 53, 1); */
	color: #F4F5F7;
	/* outline: 1px solid #47a3da; */ /* avoid gap */

	/*background: url('../img/hero-bg1.jpg') no-repeat center center;
	background-size: cover;
	padding: 65px 0 300px 0;
	height: 100%;*/
}

.side-right {
	right: 0;
	/* background: #fff; */
	color: #47a3da;
	/* outline: 1px solid #fff; */ /* avoid gap */
	/*overflow: auto;*/

	/* background: url('../img/hero-bg.jpg') no-repeat center center; */
	background-size: cover;
	padding: 65px 0 300px 0;
	height: 100%;
}

/* Intro content, profile image and name, back button */
.intro-content {
	position: absolute;
	top: 50%;
	left: 50%;
	padding: 0 1em;
	width: 50%;
	cursor: pointer;
	-webkit-transform: translateY(-50%) translateX(-50%);
	transform: translateY(-50%) translateX(-50%);
}

.profile {
	margin: 0 auto;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	background: #47a3da;
}

.profile img {
	max-width: 100%;
	border-radius: 25%;
	/* opacity: 0.75; */
}

.intro-content ul{
	list-style: none;
}

.intro-content h1 > span {
	display: block;
	white-space: nowrap;
}

.intro-content h1 > span:first-child {
	font-weight: 300;
	font-size: 2em;
}

.intro-content h1 > span:nth-child(2) {
	position: relative;
	margin-top: 0.5em;
	padding: 0.8em;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 0.8em;
}

.intro-content h1 > span:nth-child(2):before {
	position: absolute;
	top: 0;
	left: 25%;
	width: 50%;
	height: 2px;
	background: #fff;
	content: '';
}

.side-right .intro-content h1 > span:nth-child(2):before {
	background: #47a3da;
}

.back {
	position: fixed;
	top: 2.6em;
	z-index: 500;
	display: block;
	visibility: hidden;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	color: #47a3da;
	text-align: center;
	font-size: 22px;
	line-height: 44px;
	opacity: 0;
	pointer-events: none;
}

.mobile-layout .back { /* fixed positioning will make this not clickable after scrolling on some mobile devices */
	position: fixed;
}

.back-left {
	left: 12.5%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}

.back-right {
	right: 12.5%;
	-webkit-transform: translateX(50%);
	transform: translateX(50%);
	color: #fff;
}

.open-right .back-left,
.open-left .back-right {
	zoom: 1.8;
	visibility: visible;
	opacity: 1;
	-webkit-transition-delay: 0.3s;
	transition-delay: 0.3s;
	pointer-events: auto;
	color: #F4F5F7;
}

.back:hover {
	color: #f0f0f0;
}


/* Pages */
.page {
	position: relative;
	top: 0;
	overflow: auto;
	min-height: 100%;
	width: 75%;
	height: auto;
	font-size: 1.4em;
	-webkit-backface-visibility: hidden;
}

.page-right {
	left: 25%;
	/* outline: 5px solid #ecf0f1; */ /* avoid rounding gaps */
	background: #F4F5F7;
	color: rgba(53, 53, 53, 1);
	-webkit-transform: translateX(100%);
	transform: translateX(100%);
}

.page-left {
	left: 0;
	outline: 5px solid #34495e; /* avoid rounding gaps */
	background: #34495e;
	color: #fff;
	text-align: right;
	-webkit-transform: translateX(-100%);
	transform: translateX(-100%);
}

/* Inner page content */
.page-inner {
	padding: 2em;
}

.page-inner section {
	padding-bottom: 1em;
}

.page-inner h2 {
	margin: 0 0 1em 0;
	font-weight: 300;
	font-size: 2.4em;
}

.page-inner p {
	font-weight: 300;
	font-size: 1.2em;
}

/* All transitions */
.side,
.page {
	-webkit-transition: -webkit-transform 0.5s ease-in-out;
	transition: transform 0.5s ease-in-out;
}

.overlay {
	-webkit-transition: opacity 0.5s ease-in-out, visibility 0.1s 0.5s ease-in-out;
	transition: opacity 0.5s ease-in-out, visibility 0.1s 0.5s ease-in-out;
}

.intro-content {
	-webkit-transition: -webkit-transform 0.5s ease-in-out, top 0.5s ease-in-out;
	transition: transform 0.5s ease-in-out, top 0.5s ease-in-out;
}

.intro-content h1,
.back {
	-webkit-transition: opacity 0.3s ease-in-out;
	transition: opacity 0.3s ease-in-out;
}

/* Open and close */

/* We need to set the position and overflow for the respective page scroll */
.reset-layout .page,
.splitlayout.open-right .page-left,
.splitlayout.open-left .page-right,
.splitlayout.close-right .page-left,
.splitlayout.close-left .page-right {
	position: absolute;
	overflow: hidden;
	height: 100%;
}

.splitlayout.open-right .page-right,
.splitlayout.open-left .page-left {
	position: absolute;
	overflow: auto;
	height: auto;
}

.open-right .side-left .overlay,
.open-left .side-right .overlay {
	visibility: visible;
	opacity: 1;
	-webkit-transition: opacity 0.5s ease-in-out;
	transition: opacity 0.5s ease-in-out;
}

/* Right side open */
.open-right .side-left {
	-webkit-transform: translateX(-80%) scale(.5);
	/* transform: translateX(-80%) scale(.5); */
	/* display: none; */
}

.open-right .side-right {
	z-index: 200;
	-webkit-transform: translateX(-150%);
	transform: translateX(-150%);
}

.close-right .side-right {
	z-index: 200;
}

@media (max-width: 766px){
	.side-right{
		overflow-y: auto; 
	}
}

.open-right .side-right .intro-content {
	-webkit-transform: translateY(-50%) translateX(0%) scale(0.75);
	transform: translateY(-50%) translateX(0%) scale(0.75);
}

.open-right .page-right {
	-webkit-transform: translateX(0%);
	transform: translateX(0%);
}

/* Left side open */
.open-left .side-right {
	-webkit-transform: translateX(60%) scale(.5);
	transform: translateX(60%) scale(.5);
}

.open-left .side-left {
	z-index: 200;
	-webkit-transform: translateX(150%);
	transform: translateX(150%);
}

.close-left .side-left {
	z-index: 200;
}

.open-left .side-left .intro-content {
	-webkit-transform: translateY(-50%) translateX(-100%) scale(0.75);
	transform: translateY(-50%) translateX(-100%) scale(0.75);
}

.open-left .header-top {
	opacity: 0;
	visibility: hidden;
	-webkit-transition: opacity 0.3s, visibility 0.1s 0.3s;
	transition: opacity 0.3s, visibility 0.1s 0.3s;
}

.open-left .page-left {
	-webkit-transform: translateX(0%);
	transform: translateX(0%);
}

#about-section, #skill-section, #experience-section, #contact-section{
	display: none;
}

.open-right-about #about-section{
	display: block;
}

.open-right-skill #skill-section{
	display: block;
}

.skill-label{
	font-weight: 300;
}

.open-right-experience #experience-section{
	display: block;
}

.open-right-contact #contact-section{
	display: block;
}

/* Media Queries */
@media screen and (max-width: 83em) {
	.intro-content { font-size: 60%; }
}

@media screen and (max-width: 58em) {
	body { font-size: 90%; }
}

@media screen and (max-width: 49.4375em) {
	.open-right .side-right {
		-webkit-transform: translateX(-175%);
		transform: translateX(-175%);
	}

	.open-right .side-left {
		-webkit-transform: translateX(-100%) scale(.7);
		transform: translateX(-100%) scale(.7);
	}

	.open-left .side-right {
		-webkit-transform: translateX(100%) scale(.7);
		transform: translateX(100%) scale(.7);
	}

	.open-left .side-left {
		-webkit-transform: translateX(175%);
		transform: translateX(175%);
	}

	.page {
		width: 100%;
	}

	.page-right {
		left: 0;
		padding-left: 15%;
	}

	.page-left {
		padding-right: 15%;
	}

	.intro-content {
		width: 100%;
	}

	.open-right .side-right .intro-content {
		top: 100%;
		-webkit-transform: translateY(-150px) translateX(-12.5%) scale(0.5);
		transform: translateY(-150px) translateX(-12.5%) scale(0.5);
	}

	.open-left .side-left .intro-content {
		top: 100%;
		-webkit-transform: translateY(-150px) translateX(-87.5%) scale(0.5);
		transform: translateY(-150px) translateX(-87.5%) scale(0.5);
	}

	.open-right .intro-content h1,
	.open-left .intro-content h1 {
		opacity: 0;
	}

	.back-left {
		left: 6.25%;
	}

	.back-right {
		right: 6.25%;
	}

	.open-right .back-left{
		color: rgba(53, 53, 53, 1);
	}

	.open-right .back-left:hover{
		color: rgba(53, 53, 53, 1);
	}
}

@media screen and (max-width: 42.5em) {
	body { font-size: 80%; }
	.intro-content { font-size: 50%; }
}

@media screen and (max-height: 41.125em) {
	.intro-content {
		-webkit-transform: translateY(-50%) translateX(-50%);
		transform: translateY(-50%) translateX(-50%);
	}
}

@media screen and (max-width: 39.375em) {
	.intro-content .profile { -webkit-transform: scale(0.5); transform: scale(0.5); }
}

@media screen and (max-width: 320px) {
	body { font-size: 70%; }
}


/*experience section*/


.site {
  margin: 0 auto;
  width: 100%;
}


#expirence_page .site {
  padding-bottom: 90px;
}
#expirence_page h2 {
  color: rgba(53, 53, 53, 1);
}
#expirence_page .line {
  height: 100px;
  margin: 20px 0;
}
#expirence_page .year {
  width: 50px;
  line-height: 50px;
  color: #bacdec;
  font-size: 14px;
  text-align: center;
  background: rgba(53, 53, 53, 1);
  border-radius: 50px;
  margin: 0 auto;
  position: relative;
}
#expirence_page .job_item {
  font-family: 'maven300';
  position: relative;
  width: 44.7%;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
  border: 1px solid #e4e4e4;
  margin-top: 30px;
}
#expirence_page .job_item header {
  background: rgba(53, 53, 53, 1);
  line-height: 40px;
  padding: 0 20px;
}
#expirence_page .job_item header .company {
  color: #58eef7;
  font-size: 20px;
  display: inline-block;
}
#expirence_page .job_item header .years {
  font-size: 14px;
  color: #8999b4;
  float: right;
}
#expirence_page .job_item .content {
  padding: 25px 20px 5px;
  color: rgba(53, 53, 53, 1);
  font-size: 12px;
  line-height: 22px;
}
#expirence_page .job_item .content .type {
  text-align: right;
  color: #8999b4;
  font-size: 13px;
}
#expirence_page .job_item .arrow {
  background: url("http://www.yadue.eu/static/css/../img/job_arrows.png") no-repeat;
  background-position: -22px -5px;
  width: 7px;
  height: 14px;
  top: 15px;
  right: -7px;
  position: absolute;
}
#expirence_page .job_item .dot {
  width: 11px;
  height: 11px;
  border-radius: 11px;
  border: 3px solid #f4f4f4;
  background: rgba(53, 53, 53, 1);
  position: absolute;
  top: 15px;
  right: -13.8%;
}
#expirence_page .job_item.right {
  float: right;
}
#expirence_page .job_item.right .arrow {
  background-position: -5px -5px;
  width: 7px;
  height: 14px;
  right: auto;
  left: -7px;
}
#expirence_page .job_item.right .dot {
  right: auto;
  left: -13%;
}
#expirence_content {
  position: relative;
}
#line {
  width: 3px;
  background: #7788a3;
  height: 100%;
  margin: 0 auto;
  position: absolute;
  left: 50%;
}


@media (max-width: 766px){
	#expirence_page .job_item{
		width: 100%;
	}

	#expirence_page .job_item.right{
		float: none;
	}

	#expirence_page .job_item .dot{
		display: none;
	}

	#expirence_page .job_item .arrow{
		display: none;
	}

	#line{
		display: none;
	}

	#expirence_page .line{
		height: auto;
	}

}


/*sidebar*/

.menu {
	position: fixed;
	width: 300px;
	top: 3em;
	bottom: 3em;
	left: 0;
	z-index: 1000;
	overflow: hidden;
	-webkit-transform: translate3d(-150px, 0, 0);
	transform: translate3d(-150px, 0, 0);
	-webkit-transition: -webkit-transform 0.6s;
	transition: transform 0.6s;
}

.menu.menu--open {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	width: 200px;
}

.main {
	-webkit-transition: opacity 0.6s;
	transition: opacity 0.6s;
}

.menu.menu--open + .main {
	opacity: 0.3;
	pointer-events: none;
}

.menu__inner {
	width: calc(100% + 25px);
	padding: 0 140px 2em 0;
	overflow-y: auto;
	height: 100%;
	position: relative;
	z-index: 100;
}

.menu ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.menu ul li {
	margin: 0 0 2em 0;
	-webkit-transform: translate3d(-150px, 0, 0);
	transform: translate3d(-150px, 0, 0);
	-webkit-transition: -webkit-transform 0.6s;
	transition: transform 0.6s;
}

.menu.menu--anim ul li {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.menu ul li:first-child {
	-webkit-transition-delay: 0.3s;
	transition-delay: 0.3s;
}

.menu ul li:nth-child(2) {
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.2s;
}

.menu ul li:nth-child(3) {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

.menu ul li a {
	display: block;
	outline: none;
}

.menu ul li .fa {
	font-size: 2.5em;
	display: block;
	margin: 0 auto;
	color: #5f656f;
}

.menu ul li span {
	font-weight: bold;
	font-size: 0.75em;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.menu__handle {
	background: transparent;
	border: none;
	width: 30px;
	height: 24px;
	padding: 0;
	outline: none;
	position: absolute;
	top: 3px;
	right: 70px;
	z-index: 2000;
}

.menu__handle::before,
.menu__handle::after,
.menu__handle span {
	background: #F4F5F7;
}

.menu__handle::before,
.menu__handle::after {
	content: '';
	position: absolute;
	height: 2px;
	width: 100%;
	left: 0;
	top: 50%;
	-webkit-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
	-webkit-transition: -webkit-transform 0.25s;
	transition: transform 0.25s;
}

.menu__handle span {
	position: absolute;
	width: 100%;
	height: 2px;
	left: 0;
	overflow: hidden;
	text-indent: 200%;
	-webkit-transition: opacity 0.25s;
	transition: opacity 0.25s;
}

.menu__handle::before {
	-webkit-transform: translate3d(0, -10px, 0);
	transform: translate3d(0, -10px, 0);
}

.menu__handle::after {
	-webkit-transform: translate3d(0, 10px, 0);
	transform: translate3d(0, 10px, 0);
}

.menu--open .menu__handle span {
	opacity: 0;
}

.menu--open .menu__handle::before {
	-webkit-transform: rotate3d(0, 0, 1, 45deg);
	transform: rotate3d(0, 0, 1, 45deg);
}

.menu--open .menu__handle::after {
	-webkit-transform: rotate3d(0, 0, 1, -45deg);
	transform: rotate3d(0, 0, 1, -45deg);
}

.morph-shape {
	position: absolute;
	width: 240px;
	height: 100%;
	top: 0;
	right: 0;
}

.morph-shape svg path {
	stroke: #F4F5F7;
	stroke-width: 5px;
}

@media screen and (max-width: 63em) {
	.main {
		padding: 0 2em;
		-webkit-transition: opacity 0.6s;
		transition: opacity 0.6s;
	}

	.menu {
		-webkit-transform: translate3d(-170px, 0, 0);
		transform: translate3d(-170px, 0, 0);
	}

	.menu.menu--open + .main {
		opacity: 0.05;
	}
}

@media (max-width: 766px){
	.menu{
		display: none;
	}
}

.open-right #menu{
	display: none;
}